@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$light-gray: hsl(0, 0%, 83%);
$gray: hsl(0, 0%, 50%);
$hover: hsl(157, 85%, 74%);
$small-radius: 5px;
$large-radius: 10px;
$card-size: 300px;
$grid-gap: 20px;
$tag-transparency: 0.7;

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

/* **************************** HEADER */

.header {
  display: grid;
  gap: 5px;
  margin-inline: auto;
  width: fit-content;
  text-align: center;

  &__title {
    grid-column: 1 / span 2;
    margin-bottom: 0;
    color:$gray;
  }
  
  &__input-bar {
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: $small-radius;
    background-color: $light-gray;
  }

  &__button {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    padding: 5px;
    border-radius: $small-radius;
    border: none;

    &:hover {
      background-color: $hover;
    }
  }
}

/* **************************** GRID */

.countries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($card-size, 1fr));
  gap: $grid-gap;
  margin-inline: auto;
  margin-block: 80px;
  padding: $grid-gap;
  border: 2px solid rgb(224, 224, 224);
  border-radius: $large-radius;
  min-height: 65vh;
  max-width: 1024px;
  
  .card {
    cursor: pointer;
    filter: drop-shadow(0px 0px 8px hsl(0, 0%, 0%));
    opacity: 1;
    transform: translateY(0px);
    overflow: hidden;
    transition: opacity 0.3s, transform 0.3s, filter 0.3s ease-in-out;
    border-radius: $small-radius;
    min-height: 220px;
    background-color: hsl(0, 0%, 100%);
    text-decoration: none;
    color: hsl(0, 0%, 100%);
  
    &:hover {
      filter: drop-shadow(0px 0px 8px hsl(0, 0%, 42%));
    }

    &--invisible {
      opacity: 0;
      transform: translateY(20px);
    }

    &__flag {
      object-fit: cover;
      height: 100%;
      width: 100%;
      filter: contrast(0.8);
    }

    &__info {
      position: absolute;
      bottom: 0px;
      margin: 10px;
      padding: 5px 10px;
      border-radius: $small-radius;
      width: fit-content;
      height: min-content;
      background-color: hsla(0, 0%, 0%, $tag-transparency);
      text-transform: uppercase;
      white-space: nowrap;

      &--secondary {
        bottom: 38px;
        background-color: hsla(0, 0%, 0%, calc($tag-transparency - 0.2));
        font-size: 0.7rem;
        font-weight: normal;
      }
    }

    &__details {
      display: flex;
      flex-wrap: wrap;
      padding: 10px;

      p {
        padding: 5px 10px;
        border-radius: $small-radius;
        background-color: rgba(0, 0, 0, $tag-transparency);
        white-space: nowrap;
      }
    }
  
    &--active {
      display: grid;
      grid-template-rows: 1fr min-content;
      grid-column: 1 / span 3;
      order: -1;
      min-height: 650px;

      .card {
        &__flag {
          max-height: 540px;
        }
        
        &__info--primary {
          position: absolute;
          top: 10px;
          font-size: 2rem;
        }
        
        &__details {
          p {
            position: static;
            opacity: 0;
            transform: translateX(20px);
            margin: 5px;
            font-size: 1rem;
          }

          .tag--visible {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.3s, transform 0.3s;
          }
        }
      }
    }
  }
}

/* **************************** LOG */

.log {
  position: absolute;
  top: 52.5%;
  width: 100%;
  text-align: center;
  color: gray;
  font-size: small;
}